---
import DefaultLayout from '../../../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Message sent">
  <section class="container my-16">
    <h1 class="text-5xl mb-4">Thank you!</h1>
    <p>Your request has been sent successfully. I will reply as soon as possible.</p>
    <p class="mt-6"><a class="button" href="/en/">Back to home</a></p>
  </section>
</DefaultLayout>
