---
import UnifiedLayout from '../../../layouts/UnifiedLayout.astro'
---

<UnifiedLayout enableTransitions={true} title="Sporočilo poslano">
  <section class="container my-16">
    <h1 class="text-5xl mb-4">Hvala!</h1>
    <p>Vaša zahteva je bila uspešno poslana. Odgovoril bom čim prej.</p>
    <p class="mt-6"><a class="button" href="/sl/">Nazaj na domačo stran</a></p>
  </section>
</UnifiedLayout>
