kbd {
  position: relative;
  inset-block-start: -1px;
  box-shadow: 0 2px 0 1px var(--color-neutral-400);
  border: 1px solid var(--color-neutral-400);
  border-radius: var(--radius-s);
  background-color: var(--color-neutral-200);
  padding: var(--space-4xs) var(--space-3xs);
  aspect-ratio: var(--ratio-square);
  min-inline-size: 12px;
  color: var(--color-neutral-900);
  font-size: var(--font-size--2);
  font-family: var(--font-family-sans-serif);
  
  .dark &,
  .darkmode & {
    box-shadow: 0 2px 0 1px var(--color-neutral-700);
    border-color: var(--color-neutral-600);
    background-color: var(--color-neutral-800);
    color: var(--color-neutral-100);
  }

  &.flat {
    box-shadow: none;
  }
}
