@import '@fontsource-variable/sora';
@import '@fontsource-variable/inter';
@import 'tailwindcss';

/* Utilities minimaliste senza plugin extra */
.line-clamp-2{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
.line-clamp-3{display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden}
