---
import Base from '../../layouts/Base.astro'
import { getEntry, render } from 'astro:content'

const entry = await getEntry('pages', 'en-services')
const Content = entry ? (await render(entry)).Content : null
---

<Base useLocalizedMeta={true} pageKey="services">
  
  {Content && (
    <section class="py-16 sm:py-20">
      <div class="mx-auto max-w-[1366px] px-4 sm:px-6 lg:px-8">
        <Content />
      </div>
    </section>
  )}
</Base>
