---
import UnifiedLayout from '../../layouts/UnifiedLayout.astro'
import { getEntry, render } from 'astro:content'

// I file italiani sono nella root della collection pages
const entry = await getEntry('pages', 'chi-sono')
if (!entry) throw new Error('Pagina "chi-sono" non trovata')
const { Content } = await render(entry)
---
<UnifiedLayout enableTransitions={true} title={entry.data.title}>
  <article class="container my-16 prose">
    <h1>{entry.data.title}</h1>
    <Content />
  </article>
</UnifiedLayout>


