---

/**
 * Logo Component
 *
 * @description Logo description
 */
interface Props {
  /**
   * Whether to load the image eagerly or lazily
   * @default 'eager'
   */
  loading?: 'eager' | 'lazy'
}

const { loading = 'eager' }: Props = Astro.props
---

<a href="/" class="flex items-center gap-2 !no-underline">
  <img src="/images/logo_stefano_chermaz_sm.png" alt="Stefano Chermaz" width="47" height="37" loading={loading} />
  <span class="font-bold">Stefano Chermaz</span>
</a>

<style lang="scss">
  a {
    color: var(--foreground-color);
  }
</style>
