---
import DefaultLayout from '../../../layouts/DefaultLayout.astro'
---
<DefaultLayout title="Messaggio inviato">
  <section class="container my-16">
    <h1 class="text-5xl mb-4">Grazie!</h1>
    <p>La tua richiesta è stata inviata correttamente. Ti risponderò al più presto.</p>
    <p class="mt-6"><a class="button" href="/it/">Torna alla home</a></p>
  </section>
</DefaultLayout>


