---
import DefaultLayout from '../../../layouts/DefaultLayout.astro'
import { getCollection } from 'astro:content'
const posts = (await getCollection('insights')).sort((a,b)=> (a.data.date||'') < (b.data.date||'') ? 1 : -1)
---
<DefaultLayout title="Insights — IT">
  <section class="container my-32">
    <h1 class="text-6xl mb-8">Insights</h1>
    <ul class="grid grid-cols-1 gap-6">
      {posts.map(p => (
        <li>
          <a href={`/it/insights/${p.slug}/`}>{p.data.title}</a>
        </li>
      ))}
    </ul>
  </section>
</DefaultLayout>


